<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="../test.js"></script>
    <title>Cadastro de Contatos</title>
</head>

<body onload="teste()">
    <div class="container">
        <nav role="navigation" id="Navegador" class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
            <div class="container px-4">
                <a href="#Pagina" title="Vá para o topo da página" class="navbar-brand navbar-brand-destaque">Volte ao
                    topo</a>
                <!--As duas próximas linhas são responsáveis pela responsividade do menu-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="justify-content-end navbar-nav ms-auto">
                        <li class="nav-item"><a title="" href="home.html" class="nav-link">Home</a></li>

                        <li class="nav-item"><a title="" href="listar.html" class="nav-link">Contatos</a></li>

                        <li class="nav-item"><a title="" href="edit.html" class="nav-link">Editar Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid pt-5 mt-5">
        <main class="container">
            <table class="table" id="a">
                <thead>
                    <tr>
                        <th>
                            <h1><center>Novo Contato</center></h1>
                        </th>

                    </tr>
                </thead>

                <tbody id="table">

                </tbody>
            </table>
            <form name="NovoContato">

                <label for="nome">
                    <h5>Nome</h5>
                </label>
                <br>
                <input type="text" id="idnome" placeholder="" required="required" name="nome" size="50" />
                <br>
                <br>
                <label for="email">
                    <h5>E-mail</h5>
                </label>
                <br>
                <input type="email" id="idemail" placeholder="" required="required" name="email" size="50" />
                <br>
                <br>
                <label for="fone">
                    <h5>Telefone</h5>
                </label>
                <br>
                <input type="tel" id="idfone" placeholder="" required="required" name="fone" size="30" />
                <br>
                <br>
                <input type="submit" class="enviar" onclick="Salvar();" value="Salvar Contato" />
            </form>
        </main>
    </div>
</body>


</html>

